@tailwind base;
@tailwind components;
@tailwind utilities;

.portfolio-item img,
.portfolio-item > div {
  clip-path: inset(0px);
}

.portfolio-item:hover img,
.portfolio-item:hover > div {
  clip-path: inset(2rem);
}

.portfolio-item img,
.portfolio-item > div {
  transition: clip-path 0.25s ease-out;
}